html {
  font-size: 62.5%;
}
body {
  border-bottom: 15px solid #002147;
}
a {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  height: 35px;
  transition: all 0.3s;
}

h1 {
  font-size: 2.8rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
}
.h1 {
  margin-top: 10rem;
}

h3 {
  font-size: 2.4rem;
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  hyphens: auto;
  text-align: justify;
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.navbar {
  background-color: #002147;
}
.btn {
  background-color: #002147;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 1.8rem;
}
.btn:hover {
  background-color: #001a39;
  border-color: #001a39;
}

.hide {
  display: none;
}
